#root {
    width: 100%;
}

h1 {
    text-align: center;
    color: #9d9da4;
    text-shadow: -1px 1px 2vmin #1e1e1e;
}

.App {
    width: 100%;
}

.students {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}